body {
    font-family: 'Merriweather', serif;
    padding: 0;
    margin: 0;
    color: #0F0f0f;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
}

#done,
#working {
    display: none;
}

input, button {
  border: 1px solid #0F0f0f;
  margin-bottom: 1em;
}

input::placeholder {
  font-weight: bold;
  text-align: center;
}